@import '../../../style/mixin.scss';
.scene-image-analysis-comp {
  .canvases-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    .ant-divider-vertical {
      height: 100%;
      margin: 0 20px;
      background: rgb(87, 92, 102);
    }
    .left-canvas-container {
      border-right: 1px solid rgb(87, 92, 102);
      .canvas-comp {
        padding-right: 20px;
        border-bottom: 1px solid rgb(87, 92, 102);
      }
    }
    .right-canvas-container {
      .canvas-comp {
        padding-left: 20px;
        border-bottom: 1px solid rgb(87, 92, 102);
      }
    }
    .ocr-words {
      position: relative;
      height: 159px;
      margin-right: 6px;
      padding: 16px 10px 16px 24px;
      .scroll {
        height: 100%;
        overflow-y: auto;
        @include scroll-mini(8px, 8px, #3d424c, #6b717a);
        .tag {
          display: inline-block;
          min-height: 24px;
          margin: 0 8px 8px 0;
          padding: 5px 8px;
          color: #fff;
          vertical-align: middle;
          background-color: rgba(242, 194, 97, 0.1);
          user-select: none;
        }
        .annotation-tag:hover,
        .annotation-tag.hovered-tag {
          background-color: #f2c261;
        }
        .training-tag:hover,
        .training-tag.hovered-tag {
          background-color: #7abecc;
        }
      }

      .ocr-perfoamance {
        position: absolute;
        bottom: 10px;
        left: 22px;
        color: #fff;
      }
    }
  }

  .sec-right-Info {
    color: #fff;
    h2 {
      color: #fff;
      font-size: 16px;
      line-height: 1.4;
      word-break: break-all;
    }
    h3 {
      margin-top: 24px;
      margin-bottom: 16px;
      color: #999;
      font-size: 16px;
    }
    .label-title {
      margin-top: 40px;
      margin-bottom: 30px;
    }
    h4 {
      margin-top: 10px;
      margin-bottom: 10px;
      color: #999;
      font-size: 12px;
      .dot {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-top: -2px;
        margin-right: 8px;
        vertical-align: middle;
        background-color: #999;
        transform: rotate(45deg);
      }
    }
    .tag {
      display: inline-block;
      margin: 0 8px 8px 0;
      padding: 5px 8px;
      background-color: rgba(103, 154, 255, 0.2);
      user-select: none;
      &:hover {
        background-color: #679aff;
      }
    }
    .hovered-tag {
      background-color: #679aff;
    }
  }

  .sec-control-block {
    margin-right: 13px;
    .switch-item {
      display: flex;
      align-items: center;
      margin-right: 16px;
      .label {
        margin-right: 8px;
        .label-color {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin-right: 3px;
          vertical-align: bottom;
        }
      }
    }
    .ant-divider-vertical {
      margin: 0;
    }
  }
}

.image-list-wrap {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  @include scroll-mini(9px, 9px, #ccc, #ddd);
  .image-item {
    margin-right: 15px;
    margin-bottom: 30px;
    .image-background {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #e9e9e9;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      .hover-block {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 2px 5px 2px 10px;
        color: #fff;
        // font-family: 'PingFang SC';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.8;
        background-color: rgba(87, 92, 102, 0.8);
        opacity: 0;
        transition: opacity 0.5s ease-in 0.1s;
        .center-item {
          text-align: center;
        }
      }
      &:hover {
        .hover-block {
          opacity: 1;
        }
      }
    }
  }
}
