@import '../../style/variable.scss';

.common-tabs {
  position: relative;
  .bottom-line {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background: $page-theme-color;
    border-radius: 1px;
    transition: all 0.4s ease;
  }
  .common-tabs-ul {
    display: flex;
    flex-direction: row;
    li {
      margin-right: 48px;
      padding: 8px 0;
      color: #404040;
      font-weight: normal;
      font-size: 16px;
      font-family: PingFang SC;
      font-style: normal;
      line-height: 24px;
      cursor: pointer;
      &.active {
        color: $page-theme-color !important;
        font-weight: 500;
      }
    }
  }
}
